@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="master-wrapper">
    <div class="app-window shadow-lg">
        <header class="window-header">
            <NavMenu />
        </header>

        @* overflow: visible ist hier kritisch, damit das Bild in den Footer ragen kann *@
        <main class="window-content" style="background: white; overflow: visible !important;">
            <div class="page-animation h-100" @key="NavManager.Uri">
                @Body
            </div>
        </main>

        @* Wir geben dem Footer eine Klasse, um ihn steuerbar zu machen *@
        <footer class="window-footer home-footer-fix">
            <div class="d-flex justify-content-between align-items-center px-4 pb-3">            
                              
            </div>          
        </footer>

        
    </div>
    @* RECHTLICHE LINKS: Jetzt außerhalb der weißen Box *@
    <div class="external-legal-links">
        <NavLink class="legal-link-item" href="impressum">Impressum</NavLink>
        <span class="divider">|</span>
        <NavLink class="legal-link-item" href="datenschutz">Datenschutz</NavLink>
    </div>
</div>

     